*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    gap: 1px;
    width: 100vw;
    height: 100vh;
    padding: 3px;
}

.gridSquare{
    background-color: pink;
}

.hover{
    background-color: black;
}

/* Styling for bottom of etch-a-sketch */
.dot{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}