*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 10px;
    width: 100vw;
    height: 100vh;
    padding: 3px;
}
